$deep-grey1: #4f4b46;
$deep-grey2: #6b6b6b;
$grey: #677a8e;
$light-grey: #eeeeee;
$light-green: #f3faec;
$green: #6dca7f;
$btn-text-color: #4f4b46;
$active: #677a8e;
$white: #fff;
$header-primary-color: #dafdc5;
$font-color-primary: #6b6b6b;
$accordian-bg: #e4e4e4;
$accordian-border-color: #cecece;

body {
  font-family: 'Fira Sans', sans-serif;
}
.container {
  max-width: 580px;
  margin: 0 auto;
}
.layout {
  text-align: center;
}

// headings
h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  > span {
    font-weight: 400;
  }
}

.heading-primary {
  color: $deep-grey1;
}

.heading-secondary {
  color: $green;
}

.heading-paragraph {
  font-size: 21px;
}

* { line-height: 1.4em; }
// rules

hr { margin: 60px 0;}


// forms

// buttons

.btn,
button
{
  display: inline-block;
  border: 1px solid #677a8e;
  color: $btn-text-color;
  margin: 10px 10px 10px 0;
  min-width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 20px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;

  @media(min-width: 426px) {
    min-width: auto;
  }

  &:hover {  cursor: pointer; }

  &.active {
    background-color: $active;
    color: $white;
  }
}

.btn-primary {
  background: $green;
  border-color: $green;
  color: $white;
  padding-left: 60px;
  padding-right: 60px;

  &:hover {
    background: #68bd78;
  }
}

input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 8px 20px;
  position: relative;
  left: -2px;
  &[type=text],
  &[type=number],
  &[type=search] {
    border: 1px solid $grey;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px;
    height: 42px;
    width: 100%;
  }
}
fieldset {
  margin: 0;
  border: none;
  padding: 0;
  >p {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
  }
}

legend {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  font-weight: 500;
}


// arrow-boxes

.arrow-box {
  padding: 5px 50px 30px;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  min-height: 100px;
  &.primary {
    background-color: $light-green;
    font-size: 24px;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: -30px;
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-right: 40px solid $light-green;
    }
  }
  &.secondary {
    background-color: $light-grey;
    margin-bottom: 50px;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: -30px;
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid $light-grey;
    }
  }
  &.quote {
    background-color: $light-grey;
    text-align: left;
    padding: 20px;
    margin-top: 60px;
    h3 {
      color: $deep-grey2;
      font-size: 20px;
      margin-top: 0;
    }
    p {
      font-size:16px;
      font-weight: normal;
      line-height: 1.2;
      &:last-child {margin-bottom: 0;}
    }
  }
}

.arrow-box {
  h3 {
    font-size: 20px;
  }
}

.arrow-box {
  position: relative;
  > label {
    display: none;
  }

  .radio-group {
    margin: 0;
  }

  // span > div {
  //   display: inline-block;
  //   margin: 0 10px;
  //   margin-top: -4px;
  //   border-bottom: 2px solid $green;
  //   position: relative;
  //   top: -10px;
  //   .int {
  //     width: 50px;
  //   }
  // }

  p {
    line-height: 40px;

    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
    color: $deep-grey2;
  }

  // input {
  //   font-family: 'Fira Sans', sans-serif;
  //   font-size: inherit;
  //   color: $green;
  //   display: inline-block;
  //   border: 2px solid transparent;
  //   border-radius: 0;
  //   background: transparent;
  //   padding: 0;
  // }
}


.aria-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// main
body {
  color: $deep-grey1;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

main {
  overflow: auto;
  padding-bottom: 200px;
}

// templates
.footer {
  position: relative;
  margin-top: -140px;
  height: 200px;
  clear: both;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 20px;
  p {
    margin-top: 15px;
    color: #fff;
    font-size: 30px;
  }
}

.main-header {
  text-align: left;
  background-color: $header-primary-color;
  color: $green;
  overflow: auto;
  position: relative;
  margin-bottom: 20px;
  img {
    height: 55px;
    position: absolute;
    top: 25%;
  }
  a {
    color: $green;
  }
  p {
    margin-top: 40px;
  &.heading {
  font-size: 32px;
  font-weight: 800;
  display: inline-block;
  margin-left: 110px;
  color: $green;
}
  }
}

p {
  font-size: 18px;
}

.radio-group > div > div {
  padding-top: 5px;
}








.accordian {
  margin: 60px 0;
}

.accordian-header {
  border-top: 1px solid $accordian-border-color;
  border-bottom: 1px solid $accordian-border-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  background-color: $accordian-bg;
  padding: 10px 20px;
  position: relative;
  span { font-weight: normal; }
  &:hover { cursor: pointer; }
  &::after {
    font-family: FontAwesome;
    font-size: 21px;
    content: "\F067";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    color: $font-color-primary;
  }
}

.accordian-body {
  margin-bottom: 60px;
  font-size: 16px;
  text-align: left;
  background-color: $accordian-bg;
  margin-top: 0;
  padding: 5px 20px;
  > p:first-child { margin-top: 10px; }
}

canvas {
  border: 1px solid #000;
}

.Select-input > input {
  width: 80% !important;
  display: inline-block;
}

.Select-placeholder {
  display: none !important;
}

.calc-layout {
  display: inline-block;
  input {
    text-align: center;
  }
}

// input[name=your_rates_are] {
//   text-align: center;
//   font-weight: bold;
// }

.autocomplete-form {
  text-align: center;
}

.Select {
  display: inline-block;
}

// .Select-value {
//   padding-top: 12px;
// }

.reassurance {
  font-size: 0.8em;
  font-weight: normal;
}
