
// TODO: improve imports of fonts (webpack)
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }

$input-border-color: #677a8e;
$font-color-primary: #4f4b46;
$accordian-bg: #e8e8e8;
$accordian-border-color: #cecece;
$btn-primary-color: #6cca7e;
$header-primary-color: #dafdc5;
$icon-primary-color: #b2b2b2;
$speech-bubble-bg-color: #eee;

*, :after, :before { box-sizing: inherit; }

html { box-sizing: border-box; }

body {
  color: $font-color-primary;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

main {
  overflow: auto;
  padding-bottom: 180px;
}

#footer {
  position: relative;
  margin-top: -140px;
  height: 180px;
  clear: both;
  background-color: #000;
  line-height: 180px;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.container {
  margin: 0 5%;
  position: relative;
  @media(min-width: 1024px) {
    margin: 0 15%;
  }
  @media(min-width: 1440px) {
    margin: 0 20%;
  }
}

form {
  line-height: 1.5;

  > input {
    flex: 1 0 auto;
  }
}

input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 8px 20px;
  position: relative;
  left: -2px;

  &[type=text],
  &[type=number],
  &[type=search] {
    border: 1px solid $input-border-color;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px;
    height: 42px;
    width: 100%;
  }
}
.nested {
  div {
    width: 100%;
  }
  > label {
    padding-left: 0 !important;
  }
  input {margin: 0;}
}
.nested-button {
  display: inline-block;
}

// Forms

fieldset {
  margin: 0;
  border: none;
  padding: 0;

  > p {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
  }
}

.nested-field {
  margin-bottom: 25px;
}

legend {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  font-weight: 500;
}

.aria-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.speech-bubble {
  background-color: $speech-bubble-bg-color;
  padding: 10px;
  box-sizing: inherit;
}

.external-link {
  font-family: 'FontAwesome';
  position: relative;
  &::after {
    font-size: 16px;
    content: "\f08e";
    position: absolute;
    right: -30px;
    top:  60%;
    transform: translateY(-50%);
    opacity: 1;
    color: #b2b2b2;
  }

  span {
    font-family: 'Fira Sans', sans-serif;
  }
}

.main-header {
  background-color: $header-primary-color;
  color: $btn-primary-color;
  overflow: auto;
  position: relative;
  margin-bottom: 20px;
  img {
    height: 55px;
    position: absolute;
    top: 25%;
  }
  a { color: $btn-primary-color; }
  p { margin-top: 40px; }
}

.heading {
  font-size: 32px;
  font-weight: 800;
  display: inline-block;
  margin-left: 80px;
}

.accordian {
  border-top: 1px solid $accordian-border-color;
  border-bottom: 1px solid $accordian-border-color;
  font-weight: 700;
  background: $accordian-bg;
  cursor: pointer;
  padding: 8px;
  padding-left: 40px;
  margin: 30px 0 !important;
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-size: 16px;
    content: "\F067";
    position: absolute;
    left: 15px;
    top: 19px;
    transform: translateY(-50%);
    opacity: 1;
    color: $font-color-primary;
  }
  + div {
    background-color: $accordian-bg;
    margin-top: -30px;
    padding: 15px;
    padding-left: 40px;
  }
}
