$input-border-color: #677a8e;
$input-bg-color: #677a8e;

.checkbox-group {
  input[type=checkbox] {
    position: absolute;
    left: -9999px;
  }

  label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 52px;
    margin-bottom: 15px;
    min-height: 40px;
    font-size: 16px;

    span::before {
      content: "";
      border: 1px solid $input-border-color;
      background: transparent;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    
    :checked + span::before {
      background-color: $input-bg-color;
      border-color: $input-bg-color;
    }

    :checked + span::after {
      font-family: 'icomoon';
      font-size: 19px;
      content: "\f00c";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      color: #fff;
    }
  }
}
