$input-border-color: #677a8e;
$input-bg-color: #677a8e;
$white: #fff;

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.checkbox-group {
  .radio-group {
    margin: 0;
  }
  input[type=checkbox] {
    position: absolute;
    left: -9999px;
  }

  label:not(.checkbox-radio) {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 52px;
    margin-bottom: 15px;
    min-height: 40px;
    font-size: 16px;

    span::before {
      content: "";
      border: 1px solid $input-border-color;
      background: transparent;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    :checked + span::before {
      background-color: $input-bg-color;
      border-color: $input-bg-color;
    }

    :checked + span::after {
      font-family: 'FontAwesome';
      font-size: 25px;
      content: "\f00c";
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      color: $white;
    }
  }
}

.checkbox-list {
  li {
    list-style: none;
  }
  label {
    display: none !important;
  }
}
