
$input-border-color: #677a8e;
$input-bg-color: #677a8e;
$input-hover-color: #eaf0f7;
$white: #fff;

.radio-group {
  display: flex;
  flex-flow: column;
  margin: 40px 0;

  > div {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: relative;
    margin-top: .5em;
    box-sizing: inherit;
  }

  label {
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

    &:hover > span { background-color: $input-hover-color; }

    + label { margin-left: -1px; }

    input:checked + span {
      background-color: $input-bg-color;
      border-color: $input-border-color;
      color: $white;
    }

    input[type=radio] {
      position: absolute;
      left: -9999px;
      margin: 0;
    }

    &:first-child > span {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }

    &:last-child > span {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }

    span {
      display: inline-block;
      border: 1px solid $input-border-color;
      width: 100%;
      text-align: center;
      font-size: 16px;
      padding: 8px 20px;
    }
  }

  .checkbox-radio span {
    @media (max-width: 320px) {
      font-size: 15px;
      padding: 10px 12px;
    }
  }
}
