$deep-grey1: #4f4b46;
$deep-grey2: #6b6b6b;
$grey: #677a8e;
$light-grey: #eeeeee;
$light-green: #f3faec;
$green: #6dca7f;
$white: #fff;
$header-primary-color: #dafdc5;
$font-color-primary: #6b6b6b;
$accordian-bg: #e4e4e4;
$accordian-border-color: #cecece;
$sand: #fafafa;
