<div style="margin-top: 42px;">
  <fieldset>
    <label style="font-size: 20px;">What was your total income for the 2017/18 tax year?</label>
    <label style="margin-top: 35px;"></label>
    <p>You will need to know your total income for the 2016/2017 Tax year (1 March 2016 - 31 March 2017) including rental income
      from any properties you own, interest and dividends, and overseas income (converted to $NZD).
      <br>
      <br> Select any that apply to you.</p>
    <div class="row">
      <ul class="column list-stripped">
        <li>
          <h4>Your Income</h4>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_nz_superannuation" value="on">
            <div class="radio-list-multi">NZ Superannuation
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_jobseeker_support" value="on">
            <div class="radio-list-multi">Jobseeker Support
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_sole_parent_support" value="on">
            <div class="radio-list-multi">Sole Parent Support
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_supported_living" value="on">
            <div class="radio-list-multi">Supported living
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_wage_or_salary" value="on">
            <div class="radio-list-multi">Wage or salary
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_other" value="on">
            <div class="radio-list-multi">Other
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>Your total Income:</li>
      </ul>
      <ul class="column list-stripped" style="display: none;">
        <li>
          <h4>Partner/joint homeowner's income</h4>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_nz_superannuation" value="on">
            <div class="radio-list-multi">NZ Superannuation
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_jobseeker_support" value="on">
            <div class="radio-list-multi">Jobseeker Support
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_sole_parent_support" value="on">
            <div class="radio-list-multi">Sole Parent Support
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_supported_living" value="on">
            <div class="radio-list-multi">Supported living
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_wage_or_salary" value="on">
            <div class="radio-list-multi">Wage or salary
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>
          <label class="radio-list-container">
            <input type="checkbox" name="total_income.applicant_other" value="on">
            <div class="radio-list-multi">Other
              <span class="checkmark"></span>
            </div>
          </label>
        </li>
        <li>Partner's total Income:</li>
      </ul>
    </div>
  </fieldset>
</div>
